MODERATION_POSTGRES_CONNECTION_STRING=Host=moderation-db;Port=5432;Database=socialhub_moderation;Username=socialhub;Password=socialhub_password
POST_SERVICE_BASE_URL=
AUTH_SERVICE_BASE_URL=
NOTIFICATION_SERVICE_BASE_URL=
